*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/

gradle/gradle/wrapper/gradle-wrapper.jar
gradle/gradle/wrapper/gradle-wrapper.properties
gradle/gradlew
gradle/gradlew.bat
*.apk
